body {
	margin: 40px;
	background-color: #eee;
}

.container {
	padding: 20px;
	height: 600px;	
	background-color: #fff;
}

h1 {
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}

textarea {
	display: block;
	width: 400px;
	height: 80px;
}